html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
body {
    margin:10%
}
input{
    border-style: solid;
}
button {
    background-color: #664caf; /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    
}
button:hover{background-color:orange;}

button:focus{background-color:red;}

#sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
#sortable li span { position: absolute; margin-left: -1.3em; }

#date-picker {
    color:black;

}